@font-face {
    font-family: rabbit;
    Src: url("./gGrumpyRabbit.ttf") format("truetype");
}
@font-face {
    font-family: flats;
    Src: url("./FLATS.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    line-height: 1;
}
body{
    background-color: slategrey;
    display: flex;
    flex-direction:column;
    font-family: rabbit;
}
#cabecera {
    display: flex;
    height: 100px;
    background-color: white;
    margin-bottom: 50px;
}
#logo img{
    width: 100px;
    height: 100px;
}
#titulo{
    width: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo h1{
    margin-top: 10px;
    font-size: 50px;
}
#titulo h2{
    font-size: 25px;
    margin: 5px 0px 7px 0px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    color:black;
    font-family: flats;
}
i{
    display: flex;
    justify-content: center;
    
}
i svg{
    width: 40px;
    
}
   
#botonera{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: end;
    flex-direction: column;
    background-color: white;
    
}
#botonera li{
    width: 100%;
    height: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    
}
#botonera li a{
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-family: flats;
    color: black;
    margin: 10px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}
#botonera li:hover{
    background-color:slategrey;
    
}


#formulario input{
    width: 300px;
    height: 25px;
    padding: 0px 0px;
    margin-bottom: 10px;
}

textarea{
    width: 300px;
    padding: 0px 0px;
}
#contacto{
    margin-top: 50px;
}
#enviar{
    padding: 4px;
    border: black;
    border-radius: 3px;
}
#enviar:hover{
    background-color: darkgrey;
}
#enviar:active{
    background-color: #797979;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

@media only screen and (min-width:774px){
    
    #cabecera {
        display: flex;
        height: 200px;
        background-color: white;
        margin-bottom: 20px;
    }
    #logo img{
        width: 200px;
        height: 200px;
    }
    #titulo {
        justify-content: center;
    }
    #titulo  h1{
        font-size: 100px;
    }
    #titulo h2{
        font-size: 50px;
    }i svg{
        display: none;
    }
    #botonera{
        width: 100%;
        margin-bottom: 90px;
        display: flex;
        flex-direction: row;
        justify-content: end;
        background-color: slategrey;
    }
    #botonera li{
        border-bottom: none;
        width: auto;
        height: auto;
    }
    #botonera li a{
        font-size: 20px;
        font-family: flats;
        color: black;
        margin: 10px;

    }
    #formulario input{
        width: 400px;
        height: 25px;
        padding: 0px 0px;
    }
    textarea{
        width: 400px;
    }
    footer{
        font-size: 16px;
    }
}    